# Enable Rewrite Engine
RewriteEngine On

# Enable Proxy
Options +FollowSymLinks
RewriteBase /

# API Proxy Rules
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^api/(.*) http://localhost:3001/api/$1 [P,L]

# React Routing Rules
RewriteRule ^.*$ index.html [L,QSA] 